header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    overflow:hidden;
    }
    
    .logo{
    font-size:2.2rem;
    text-align:left;
    flex:none;
    margin-right:20px;
    }
    
    .header-right{
    margin-left:auto;
    padding-right:20px;
    }
    
    .top-controls{
    display:flex;
    gap:15px;
    }
    
    .language-selector select{
    min-width:90px;
    }
    
    main{
    max-width:1000px;
    margin:auto;
    }
    
    .test-game-container{
    max-width:700px;
    margin:auto;
    }
    
    #answers-loveSkill button,
    #answers-lonerPower button{
    width:100%;
    margin:10px 0;
    padding:15px;
    font-size:16px;
    border-radius:12px;
    }
    
    .test-card img{
    height:200px;
    object-fit:cover;
    }
    